<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>auth鉴权</title>
    <script src="/src/js/auth.js"></script>
  </head>
  <body>
    <!-- 必须在微信开发者工具 公众号中打开才有效 -->
    <h1><%= title %></h1>
    <a href="" id="authLink">去认证</a>
  </body>
</html>
